<!DOCTYPE html>
<html>
<head>
	<title>Enquiry</title>

	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<style type="text/css">
  label {
    font-size: 25px;
  }
</style>
</head>
<body style="background-color: orange;">
  
<h1 style="margin-left: 250px;">Fill Enquiry Details </h1>

  <% if flash[:errors]%>
    <div id="error_explanation">
       <% flash[:errors].each do |error| %>
       <p style="color:red"><%= error %></p>
       <%end%>
    </div>
  <% end %>

<%= form_for @en, url: {action: :create} do |form| %>  
<div class="jumbotron" style="margin-left: 200px;color:blue;font-family: monospace;">
  <div class="field">
  	<label>Name :</label>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <label>Mobile :</label>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <label>Address :</label>
    <%= form.text_field :addr %>
  </div>

   <div class="field">
    <label>Description :</label>
   <%= form.text_area :description, rows:10, cols:30 %>
    
  </div>


 
  <div class="actions">
    <%= form.submit  "Submit" ,class: 'btn btn-md btn-success'%>
  </div>
 </div>
<% end %>


</body>
</html>
